

#header {
    width: 100vw;
    text-align: center;
    .top-header {
        h1 {
            font-weight: 600;
            font-size: 20px;
        }
        padding: 1rem 0 0 0;
    }

    .sub-header, .center-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon{
        background-color: transparent;
        display: flex;
        align-content: center;
        justify-content: center;
        max-width: 100%;
        margin:0;
    }
}

.nav{
    font-size: 5vw;
    width:40vw;
    background-color: white;
    border-left:2px solid #aaa;
    border-bottom:2px solid #aaa;
    border-top:2px solid #aaa;
    padding:1rem 0;
    position: absolute;
    color:#333;
    top:40vw;
    right:0;
    z-index: 4000;
    transition: all .2s ease-in;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    &.active{
        top:32vw;
        opacity: 1;
        pointer-events: visible;
    }
    li{
        text-decoration: underline;
        padding:1rem 0;
        width:100%;
    }
}

.hamburger {
    font: inherit;
    display: inline-block;
    overflow: visible;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent
}

.hamburger.is-active:hover,.hamburger:hover {
    opacity: .7
}

.hamburger.is-active .hamburger-inner,.hamburger.is-active .hamburger-inner:after,.hamburger.is-active .hamburger-inner:before {
    background-color: #fff
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px
}

.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #fff
}

.hamburger-inner:after,.hamburger-inner:before {
    display: block;
    content: ""
}

.hamburger-inner:before {
    top: -10px
}

.hamburger-inner:after {
    bottom: -10px
}

.hamburger--squeeze .hamburger-inner {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms
}

.hamburger--squeeze .hamburger-inner:before {
    transition: top 75ms ease .12s,opacity 75ms ease
}

.hamburger--squeeze .hamburger-inner:after {
    transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19)
}

.hamburger--squeeze.is-active .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg)
}

.hamburger--squeeze.is-active .hamburger-inner:before {
    top: 0;
    transition: top 75ms ease,opacity 75ms ease .12s;
    opacity: 0
}

.hamburger--squeeze.is-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(-90deg)
}