input { 
    background: none;
    outline: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border: 0;
    // border-bottom: 2px solid #d23d19d1;
    width: 100%;
    font-size: 20px;
    // height: 70px;
    margin: 1rem 0;
    padding: .5rem 0;
    text-align: center;
    background: #555;
    color: #fefefe;
    border: 1px solid #ccc;
    &::placeholder {
        color: #ccc;
    }
}