.billing-form {
	.m-creditcards {
		height: 35px;
		margin: 0 0 9px 0;
		display: block;

		.visaCard,
		.visaCard.on,
		.masterCard,
		.masterCard.on,
		.americanExpressCard,
		.americanExpressCard.on,
		.discoverCard,
		.discoverCard.on {
			height: 32px;
			width: 51px;
		}

		.visaCard {
			background-position: 51px 0;
			&.on {
				background-position: 0 0;
			}
		}

		.masterCard {
			background-position: 51px -32px;
			&.on {
				background-position: 0 -32px;
			}
		}

		.americanExpressCard {
			background-position: 51px -64px;
			&.on {
				background-position: 0 -64px;
			}
		}

		.discoverCard {
			background-position: 51px -96px;
			&.on {
				background-position: 0 -96px;
			}
		}

		> div:nth-child(-n + 4) {
			margin: 2px;
			background-image: url('https://mdc.magazinediscountcenter.com/include/bizrate_optimized/images/credit-card-logos-new.png');
			float: left;
		}
	}
	#cvv-wrap {
			float: right;
			margin: 21px 0 0;
			position: relative;

			#cvv-prompt {
				text-decoration: underline;
				background: none;
				border: none;
				color: #13457f;
				font-size: 12px;
				padding: 0;

				#cvv-popup {
					display: none;
					position: absolute;
					bottom: 30px;
					right: 0;
					background-color: #fff;
					color: #000;
					width: 160px;
					border: 4px solid #13457f;
					padding: 10px;
					text-align: left;
					-webkit-box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.3);
					-moz-box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.3);
					box-shadow: -2px -2px 1px rgba(0, 0, 0, 0.3);

					&.show {
						display: block;
					}

					#arrow-reference {
						position: relative;

						&::after {
							content: '';
							position: absolute;
							bottom: -27px;
							right: 15px;
							border-left: 15px solid transparent;
							border-right: 15px solid transparent;
							border-top: 15px solid #13457f;
						}
					}
				}
			}
		}
	}