@import '../../styles/Config.scss';

.btn {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    background: $orange;
    color: $white;
    font-weight: 600;
    font-size: 15px;
    margin: 1rem 0;
    padding: 1rem 0;
    &.pill {
        border: 2px solid #595959;
        border-radius: 25px;
        padding: .5rem;
        background-color: white;
        color: #333;
        height: 10vw;
    }
    &:disabled{
        background-color: grey;
        color:darkgray;
        cursor:not-allowed;
    }
}

